* {
    margin: 0;
    padding: 0;
}

header{
    background-color: #76d11c52;;
    height: 20vh;
    width: 100%;
    text-align: center;
    font-size: larger;
}

h1{
    position: relative;
    top: 20%;
}

.container {
    width: 100%;
    background-color: beige;
}

section {
    display: flex;
}

article {
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0px black;
    background-color: white;
    flex: 1;
    height: max-content;
    margin: 4%;
}

img {
    height: 140px;
    width: 80%;
    padding: 10%;
}

p,h3 {
    text-align: justify;
    padding: 24px;
}

@media (max-width:600px) {
    section {
        flex-direction: column;
    }
}