<h1 mat-dialog-title> Update Data </h1>
<div mat-dialog-content>
  <form class="example-form">
    <div class="display-flex">
      <mat-form-field appearance="outline" class="flex1 m-1">
        <mat-label>Name</mat-label>
        <input id="name" matInput placeholder="Placeholder" [formControl]="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="flex1 m-1">
        <mat-label>Price</mat-label>
        <input
          matInput
          type="number"
          placeholder="Placeholder"
          [formControl]="price"
        />
      </mat-form-field>
    </div>
    <div class="display-flex">
      <mat-form-field appearance="outline" class="flex1 m-1">
        <mat-label>Rating</mat-label>
        <input
          matInput
          type="number"
          placeholder="Placeholder"
          [formControl]="rating"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="flex1 m-1">
        <mat-label>Select the Category</mat-label>
        <mat-select [formControl]="category">
          <mat-option>None</mat-option>
          <mat-option value="electronics">Electronics</mat-option>
          <mat-option value="decor">Decor</mat-option>
          <mat-option value="grocery">Grocery</mat-option>
          <mat-option value="clothing">Clothing</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick(false)">Cancel</button>
  <button mat-button (click)="update()" cdkFocusInitial>Update</button>
</div>