<!-- <app-greeting>
  <h2 attr>This is h2 first Line</h2>
  <h1>This is h1 second Line</h1>
  <h1>This is second h1 third Line</h1>
  <button>This is button fourth Line</button>
</app-greeting> -->
<div class="bg">
  <div class="adjust">
    <form class="shadow-lg" [formGroup]="loginForm">
      <span id="title">Sign in</span>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="email"
        formControlName="email"
      />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        formControlName="password"
      />

      <button
        mat-raised-button
        [@jiggle-wiggle]="!loginForm.valid && isHovering ? 'end' : 'start'"
        (mouseenter)="changeHover()"
        id="login-btn"
        type="submit"
        value="Login"
        (click)="login()"
      >
        <!-- [disabled]="!loginForm.valid" -->
        Login
      </button>

      <!-- <span class="rip1"></span>
        <span class="rip2"></span>
        <span class="rip3"></span> -->
      <!-- </div> -->
      <div id="linksParent">
        <a>Sign up</a>
        <a>Forgot your password?</a>
      </div>
    </form>
  </div>
</div>
