<div class="container h100">
  <div class="m-auto pt-5">
    <h1 class="text-center">{{title}}</h1>
    <p class="text-center">{{msg}}</p>
    <mat-form-field appearance="outline">
      <mat-label>Filter By Category</mat-label>
      <input matInput [(ngModel)]="sCategory" (keyup)="filter()" />
    </mat-form-field>
    <button class="m-1" mat-raised-button color="primary" (click)="log()">Log</button>
    <table *ngIf="productData.length" class="table table-striped shadow-lg">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
          <!-- <th>Category</th> -->
          <th>Rating</th>
          <th>Images</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of productData" (click)="addToShopping(i)" >
          <td>{{ i.id }}</td>
          <td>{{ i.name }}</td>
          <td>{{ i.price | currency : "INR" }}</td>
          <!-- <td>{{ i.category }}</td> -->
          <td>
            <app-star
              [rating]="i.rating"
              (ratingClicked)="OnclickRating($event)"
            ></app-star>
          </td>
          <td>
            <img
              src="{{ i.image }}"
              alt=""
              width="30%"
              height="50px"
              matTooltip="this is a {{i.category}} product"
            />
            <!-- matTooltip = "{{i.category == category.electronic ? 'this is a {{i.category}} product' : 'this is an {{i.category}} product'}}" -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
