<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>
  <span class="example-spacer"></span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label>
          <mat-select matInput required [(value)]="selected">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="user">User</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</nav>
<div class="container h100">
  <div class="m-auto pt-5">
    <h1 class="text-center">{{ title }}</h1>
    <p class="text-center">{{ msg }}</p>
    <mat-form-field appearance="outline">
      <mat-label>Filter By Category</mat-label>
      <input matInput [(ngModel)]="sCategory" (keyup)="filter()" />
    </mat-form-field>
    <button class="m-1" mat-raised-button color="primary" *ngIf="selected == 'admin'" (click)="add()">
      {{ button }}
    </button>
    <table
      *ngIf="productData.length && !switch"
      class="table table-striped shadow-lg"
    >
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
          <!-- <th>Category</th> -->
          <th>Rating</th>
          <th>Images</th>
          <th colspan="2" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr id="add" *ngFor="let i of productData">
          <td>{{ i.id }}</td>
          <td id="cart">{{ i.name }}</td>
          <td>{{ i.price | currency : "INR" }}</td>
          <!-- <td>{{ i.category }}</td> -->
          <td>
            <app-star
              [rating]="i.rating"
              (ratingClicked)="OnclickRating($event)"
            ></app-star>
          </td>
          <td>
            <img
              src="{{ i.image }}"
              alt=""
              width="30%"
              height="50px"
              matTooltip="this is a {{ i.category }} product"
            />
            <!-- matTooltip = "{{i.category == category.electronic ? 'this is a {{i.category}} product' : 'this is an {{i.category}} product'}}" -->
          </td>
          <td class="text-center"><mat-icon (click)="addToShopping(i)">shopping_cart</mat-icon></td>
          <td><mat-icon  *ngIf="selected == 'admin'" (click)="updateProduct(i)">edit</mat-icon></td>
          <td><mat-icon  *ngIf="selected == 'admin'" (click)="deleteProduct(i.id)">delete</mat-icon></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
