<h1 mat-dialog-title *ngIf="this.data.button === 'Add Animal'">Add Animal</h1>
<h1 mat-dialog-title *ngIf="this.data.button !== 'Add Animal'">
  Update Animal
</h1>
<div mat-dialog-content>
  <form
    class="example-form"
    [formGroup]="
      this.data.button === 'Add Animal' ? addAnimal : updateAnimal
    "
  >
    <div class="display-flex">
      <mat-form-field appearance="outline" class="flex1 m-1">
        <mat-label>Name</mat-label>
        <input
          id="name"
          matInput
          placeholder="Placeholder"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="flex1 m-1">
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          placeholder="Placeholder"
          formControlName="description"
        />
      </mat-form-field>
    </div>
    <div class="display-flex">
      <mat-form-field appearance="outline" class="flex1 m-1">
        <mat-label>Age</mat-label>
        <input
          matInput
          type="number"
          placeholder="Placeholder"
          formControlName="age"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="flex1">
        <mat-label>Image</mat-label>
        <button mat-icon-button matPrefix (click)="f_input.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input type="text" readonly matInput formControlName="display" />
        <input
          type="file"
          multiple
          hidden
          #f_input
          (change)="handleFileInputChange(f_input.files)"
        />
        <mat-error>this field is required</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick(false)" mat-raised-button>
    Cancel
  </button>
  <button
    *ngIf="this.data.button === 'update'"
    mat-raised-button
    (click)="update()"
    cdkFocusInitial
  >
    {{ this.data.button }}
  </button>
  <button
    *ngIf="this.data.button === 'Add Animal'"
    mat-raised-button
    (click)="add()"
  >
    {{ this.data.button }}
  </button>
</div>
