<app-nav [title]="title" [links]="links"></app-nav>
<div class="container h100">
  <div class="m-auto pt-5">
    <h1 class="text-center">Animal List</h1>
    <mat-form-field appearance="outline">
      <mat-label>Filter By Name</mat-label>
      <input [(ngModel)]="Sname" (keyup)="filter()" matInput />
    </mat-form-field>
    <button
      class="m-1"
      mat-raised-button
      color="primary"
      *ngIf="role == 'admin'"
      (click)="addAnimal()"
    >
      {{ button }}
    </button>
    <table *ngIf="ELEMENT_DATA.length" class="table table-danger">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Age</th>
          <th>
            <button mat-raised-button color="primary" (click)="show()">
              {{ text }}
            </button>
          </th>
          <th colspan="2" class="text-center" *ngIf="role == 'admin'">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of ELEMENT_DATA">
          <td>{{ i.id }}</td>
          <td>{{ i.name }}</td>
          <td>{{ i.description }}</td>
          <td>{{ i.age }}</td>
          <td>
            <img
              *ngIf="showImg"
              src="{{ i.image }}"
              alt=""
              [height]="img_height"
              [width]="img_width"
            />
          </td>
          <td *ngIf="role == 'admin'">
            <mat-icon (click)="updateAnimal(i)"
              >edit</mat-icon
            >
          </td>
          <td *ngIf="role == 'admin'">
            <mat-icon (click)="deleteAnimal(i.id)"
              >delete</mat-icon
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
