<app-nav [title]="title" [links]="links"></app-nav>
<div class="container h100">
  <div class="m-auto pt-5">
    <h1 class="text-center">{{ title }}</h1>
    <p class="text-center">{{ msg }}</p>
    <mat-form-field appearance="outline">
      <mat-label>Filter By Category</mat-label>
      <input matInput [(ngModel)]="sCategory" (keyup)="filter()" />
    </mat-form-field>
    <button
      class="m-1"
      mat-raised-button
      color="primary"
      *ngIf="role == 'admin'"
      (click)="add()"
    >
      {{ button }}
    </button>
    <table
      *ngIf="productData.length && !switch"
      class="table table-striped shadow-lg"
    >
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
          <!-- <th>Category</th> -->
          <th>Rating</th>
          <th>Images</th>
          <th colspan="2" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr id="add" *ngFor="let i of productData; let index = index">
          <td>{{ i.id }}</td>
          <td id="cart">{{ i.name }}</td>
          <td>{{ i.price | currency : "INR" }}</td>
          <!-- <td>{{ i.category }}</td> -->
          <td>
            <app-star
              [rating]="i.rating"
              (ratingClicked)="OnclickRating($event)"
            ></app-star>
          </td>
          <td>
            <img
              [@enlarge]=isHoveringState[index]
              (mouseenter)="changeHover(index)"
              (mouseleave)="changeHover(index)"
              src="{{ i.image }}"
              alt=""
              width="30%"
              height="50px"
              matTooltip="this is a {{ i.category }} product"
            />
            <!-- matTooltip = "{{i.category == category.electronic ? 'this is a {{i.category}} product' : 'this is an {{i.category}} product'}}" -->
          </td>
          <td class="text-center">
            <mat-icon (click)="addToShopping(i)">shopping_cart</mat-icon>
          </td>
          <td>
            <mat-icon *ngIf="role == 'admin'" (click)="updateProduct(i)"
              >edit</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="role == 'admin'" (click)="deleteProduct(i.id)"
              >delete</mat-icon
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
