<mat-card class="m-4 example-card shadow-lg">
  <mat-card-header>
    <mat-card-title>{{ eventDets.name }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br />
  <mat-card-content>
    <img mat-card-image [src]="eventDets.imageURL" alt="" />
    <br />
    <br />

    <div class="display-flex">
      <p class="flex1">Date:</p>
      <p class="flex1">{{ eventDets.date }}</p>
    </div>

    <div class="display-flex">
      <p class="flex1">Time:</p>
      <p class="flex1">{{ eventDets.time }}</p>
    </div>

    <div class="display-flex">
      <p class="flex1">Location:</p>
      <p class="flex1">
        {{ eventDets.location.address }}, {{ eventDets.location.city }},
        {{ eventDets.location.country }}
      </p>
    </div>
    <br />
    <p class="flex1">
      <strong>Session Details</strong>
    </p>
    <mat-divider></mat-divider>
    <br />
    <div *ngFor="let sessions of eventDets.sessions; let i = index">
      <strong> session {{ i + 1 }} </strong>
      <br />
      <br />
      <div class="display-flex">
        <p class="flex1">Session Name:</p>
        <p class="flex1">
          {{ sessions.name }}
        </p>
      </div>

      <div class="display-flex">
        <p class="flex1">Session Duration:</p>
        <p class="flex1">{{ sessions.duration }}</p>
      </div>

      <div class="display-flex">
        <p class="flex1">Presenter:</p>
        <p class="flex1">{{ sessions.presenter }}</p>
      </div>

      <fieldset class="reverse display-flex">
        <legend class="reverse">Voters:</legend>
        <span class="flex1" *ngFor="let v of sessions.voter">{{ v }}</span>
      </fieldset>
      <br />
      <mat-divider></mat-divider>
      <br />
    </div>
    <br />

    <div class="display-flex">
      <button mat-raised-button class="flex1">
        Register {{ eventDets.price | currency : "INR" }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
